body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 98%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.background-wrapper {
  position: fixed; /* Fix the background */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place behind other content */
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: relative;
  z-index: 1; /* Ensure it appears above the background */
  padding: 20px;
}

.text-container {
  color: white;
  text-align: left; /* Align text to the left */
}
